<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="BaseDatosRetailEntities" connectionString="metadata=res://*/RetailEDM.csdl|res://*/RetailEDM.ssdl|res://*/RetailEDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LC1-10\SQLEXPRESS;initial catalog=BaseDatosRetail;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
    </modules>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ServiceProducto1" />
        <binding name="BasicHttpBinding_ServiceProducto2" />
        <binding name="BasicHttpBinding_ServiceProducto3" />
        <binding name="BasicHttpBinding_ServiceProducto4" />
        <binding name="BasicHttpBinding_ServiceProducto5" />
        <binding name="BasicHttpBinding_ServiceProducto" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:61190/ServiceProducto.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ServiceProducto1"
        contract="ServicioLoginCliente.ServiceProducto" name="BasicHttpBinding_ServiceProducto1" />
      <endpoint address="http://localhost:61190/ServiceProducto.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ServiceProducto2"
        contract="ServicioLoginUsuario.ServiceProducto" name="BasicHttpBinding_ServiceProducto2" />
      <endpoint address="http://localhost:61190/ServiceProducto.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ServiceProducto3"
        contract="ServicioLoginUsuarios.ServiceProducto" name="BasicHttpBinding_ServiceProducto3" />
      <endpoint address="http://localhost:61190/ServiceProducto.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ServiceProducto4"
        contract="ServiceListadoProductos.ServiceProducto" name="BasicHttpBinding_ServiceProducto4" />
      <endpoint address="http://localhost:61190/ServiceProducto.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ServiceProducto5"
        contract="ServicioListadoProducto.ServiceProducto" name="BasicHttpBinding_ServiceProducto5" />
      <endpoint address="http://localhost:61190/ServiceProducto.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ServiceProducto"
        contract="ServiceAgregarProducto.ServiceProducto" name="BasicHttpBinding_ServiceProducto" />
    </client>
  </system.serviceModel>
</configuration>